<section id="cyber">
    <div class="course row" style="padding:0px;background-color:#000000;opacity:0.8;color:#ffffff">
        <div class="col-sm-12" style="padding:20px;text-align: center;">
            <h1><strong class="x">P</strong>enetration Lab</h1>
        </div>
        <div class="col-sm-3" style="padding:0px">
            <h4 class="textsub">Spoofing</h4>
            <ul class="w3-ul w3-border">
                <li><a onClick="window.open('courses/P091.pdf','[P012-1] XSS Injection','resizable,height=600,width=1024'); return false;"
                        href="#">[P091] Phishing</a> <span style="position:relative;float:right"><a
                            href="script/run_P091.bat"><i class="fa fa-play-circle" aria-hidden="true"></i></a></span>
                </li>
                <li>[P092] ARP Poisoning</li>
                <li>[P093] DNS Spoofing</li>
            </ul>
        </div>
        <div class="col-sm-3" style="padding:0px">
            <h4 class="textsub">Injection</h4>
            <ul class="w3-ul w3-border">
                <li>[P011] SQL Injection</li>
                <li><a onClick="window.open('courses/P012-1.pdf','[P012-1] XSS Injection','resizable,height=600,width=1024'); return false;"
                        href="#">[P012-1] XSS Injection</a> <span style="position:relative;float:right"><a
                            href="script/run_P012-1.bat"><i class="fa fa-play-circle" aria-hidden="true"></i></a></span>
                </li>
                <li><a onClick="window.open('courses/P012-2.pdf','[P012-1] HTML Injection (XSS)','resizable,height=600,width=1024'); return false;"
                        href="#">[P012-2] Web Defacement</a> <span style="position:relative;float:right"><a
                            href="script/run_P012-2.bat"><i class="fa fa-play-circle" aria-hidden="true"></i></a></span>
                </li>
                <li><a onClick="window.open('courses/P013.pdf','[P012-1] HTML Injection (XSS)','resizable,height=600,width=1024'); return false;"
                        href="#">[P013] Command Injection</a> <span style="position:relative;float:right"><a
                            href="script/run_P013.bat"><i class="fa fa-play-circle" aria-hidden="true"></i></a></span>
                </li>
                <li><a onClick="window.open('courses/P014.pdf','[P012-1] HTML Injection (XSS)','resizable,height=600,width=1024'); return false;"
                        href="#">[P014] Shellshock</a> <span style="position:relative;float:right"><a
                            href="script/run_P014.bat"><i class="fa fa-play-circle" aria-hidden="true"></i></a></span>
                </li>
            </ul>
        </div>
        <div class="col-sm-3" style="padding:0px">
            <h4 class="textsub">(D)DoS/Bruteforce</h4>
            <ul class="w3-ul w3-border">
                <li><a onClick="window.open('courses/P021.pdf','[P012-1] HTML Injection (XSS)','resizable,height=600,width=1024'); return false;"
                        href="#">[P021] DoS (HTTP)</a> <span style="position:relative;float:right"><a
                            href="script/run_P021.bat"><i class="fa fa-play-circle" aria-hidden="true"></i></a></span>
                </li>
                <li>[P022] DDoS Botnet</li>
                <li><a  onClick="window.open('courses/P031.pdf','[P012-1] HTML Injection (XSS)','resizable,height=600,width=1024'); return false;"
                        href="#">[P031] Bruteforce (Shell)</a> <span style="position:relative;float:right"><a
                            href="script/run_P031.bat"><i class="fa fa-play-circle" aria-hidden="true"></i></a></span>
                </li>
                <li>[P032] Bruteforce (Web)</li>
                <li><a onClick="window.open('courses/P033.pdf','[P033] Bruteforce Hash','resizable,height=600,width=1024'); return false;"
                        href="#">[P033] Bruteforce (Hash)</a> <span style="position:relative;float:right"><a
                            href="script/run_P033.bat"><i class="fa fa-play-circle" aria-hidden="true"></i></a></span>
                </li>
            </ul>
        </div>
        <div class="col-sm-3" style="padding:0px">
            <h4 class="textsub">Malicious</h4>
            <ul class="w3-ul w3-border">
                <li><a onClick="window.open('courses/P041.pdf','','resizable,height=600,width=1024'); return false;"
                        href="#">[P041] Bad USB</a> <span style="position:relative;float:right;margin-right: 10px;"><i
                            class="fa fa-play-circle" aria-hidden="true"></i></span></li>
                <li><a onClick="window.open('courses/P042.pdf','[P012-1] HTML Injection (XSS)','resizable,height=600,width=1024'); return false;"
                        href="#">[P042] Ransomware</a> <span
                        style="position:relative;float:right;margin-right: 10px;"><a href="script/run_P042.bat"><i
                                class="fa fa-play-circle" aria-hidden="true"></i></a></span></li>
                <li>[P043] Trojan</li>
            </ul>
        </div>
    </div>
</section>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>