.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    border-radius: 0;
    opacity: 0.75;
}
.top{
    display: none;
    background: #ba1717;
    color: #fff;
    padding: 5px 10px;
    font-size: 22px;
    position: fixed;
    bottom: 45px;
    right: 35px;
}
.show-top{
    display: block;
    z-index: 99;
    transition: 2s;
}
.top:hover{
    background: #ea5b5b;
}