<!-- HHHHHHHHHHHHHHHHHH        ABOUT         HHHHHHHHHHHHHHHH -->
<section id="ubuntu" data-stellar-background-ratio="0.5" style="padding-top:50px;">
    <div class="center">
        <h1 style="color:#FFFFFF;font-family:'Good Times';text-align: center;">Cyber<strong class ="x">X</strong>: Playground Portal</h1>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-6 wow  fadeInLeft " data-wow-delay="0.3s">
                <div class="about-info">
                    <div class="section-title">
                        <h2>Ubunt<strong class="x">u</strong></h2>
                        <span class="line-bar">...</span>
                    </div>
                    <p>
                        Ubuntu คือ Operating System หนึ่งที่พัฒนามาจากระบบ Unix (เช่นเดียวกับ Mac OS X)

                        แต่เป็นซอฟต์แวร์เสรีทำให้ผู้ใช้งานสามารถใช้ได้โดยไม่เสียค่าใช้จ่าย
                        และสามารถแก้ไขดัดแปลงได้โดยเสรี

                        <!--$conn = mysqli_connect("localhost", "root", "", "hello");
                          mysqli_set_charset($conn,"utf8");
                          // Check connectio
                          if (!$conn) {
                              die("Connection failed: " . mysqli_connect_error());
                          }
                          $sql = "SELECT c2 FROM test ";
                          $result = mysqli_query($conn, $sql);
                          while($row = mysqli_fetch_assoc($result)) {
                          foreach ($row as $name => $value){
                          print "$value <br />\n";
                          } // end foreach
                          print "<br /> \n";
                          }
                          mysqli_close($conn);
                      ?>/-->
                    </p>
                    <a href="script/run_sb_ubuntu.bat" class="btn btn-download wow  fadeInRight">
                        <i class="fa fa-play-circle pull-left"></i>
                        <strong>Let's Start</strong>
                    </a>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow  zoomIn ">
                <div class="about-info skill-thumb">

                </div>
            </div>


            <div class="col-md-4 col-sm-12 wow  fadeInRight " data-wow-delay="0.3s">
                <div class="about-image">
                    <a href="script/run_sb_ubuntu.bat"><img src="../assets/img/ubuntu.jpg"width="600" height="350" class="img-responsive" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="redhat" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-12 wow  fadeInLeft " data-wow-delay="0.3s">
                <div class="about-image">
                    <a href="script/run_sb_redhat.bat"><img src="../assets/img/redhat.jpg" class="img-responsive" alt=""></a>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 wow  zoomIn ">
                <div class="about-info skill-thumb">


                </div>
            </div>


            <div class="col-md-5 col-sm-6 wow  fadeInRight " data-wow-delay="0.3s">
                <div class="about-info">
                    <div class="section-title">
                        <h2><strong class="x">R</strong>edhat</h2>
                        <span class="line-bar">...</span>
                    </div>
                    <p>
                        Red Hat เป็น Distribution หนึ่งใน Linux ที่ได้รับความนิยมสูงสุดเป็นอันดับหนึ่งในอเมริกา
                        เมื่อเทียบกับ Distribution
                        อื่นๆของ Linux เพราะ RedHat มีโปรแกรมติดตั้งที่ใช้งานง่าย
                        ตลอดจนโปรแกรมเสริมหรือแอพพลิเคชั่นที่น่าสนใจอีกมากมาย
                    </p>
                    <a href="script/run_sb_redhat.bat" class="btn btn-download wow  fadeInRight">
                        <i class="fa fa-play-circle pull-left"></i>
                        <strong>Let's Start</strong>
                    </a>
                </div>
            </div>

        </div>
        </div>
</section>

<section id="solaris" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-6 wow  fadeInLeft " data-wow-delay="0.3s">
                <div class="about-info">
                    <div class="section-title">
                        <h2>Solari<strong class="x">s</strong></h2>
                        <span class="line-bar">...</span>
                    </div>
                    <p>
                        The Solaris Operating Environment เป็นระบบปฏิบัติการเครือข่ายที่
                        อยู่ในตระกูลเดียวกับระบบปฏิบัติการ Unix พัฒนาขึ้นโดยบริษัทซัน ไมโครซิสเต็มส์
                        สามารถรองรับการทำงานแบบเครือข่ายได้เช่นเดียวกับระบบอื่น
                    </p>
                    <a href="script/run_sb_sol.bat" class="btn btn-download wow  fadeInRight">
                        <i class="fa fa-play-circle pull-left"></i>
                        <strong>Let's Start</strong>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow  zoomIn " data-wow-delay="0.3s">
                <div class="about-info skill-thumb">

                    <!--<strong class="strname">Difficult</strong class="strname">
                     <span class="pull-right">40%</span>
                        <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"/></div>  ปรับพลัง 
                        </div>
               -->
                </div>
            </div>

            <div class="col-md-4 col-sm-12 wow  fadeInRight " data-wow-delay="0.3s">
                <div class="about-image">
                    <a href="script/run_sb_sol.bat"><img src="../assets/img/solaris.png" class="img-responsive" alt=""></a>
                </div>
            </div>
</div>

        </div>
</section>

<section id="kali" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-12 wow  fadeInLeft " data-wow-delay="0.3s">
                <div class="about-image">
                    <a href="script/run_sb_kali.bat"><img src="../assets/img/kali.jpg" class="img-responsive" alt=""></a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow  zoomIn " data-wow-delay="0.3s">
                <div class="about-info skill-thumb">

                    <!--<strong class="strname">Difficult</strong class="strname">
                     <span class="pull-right">40%</span>
                        <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"/></div>  ปรับพลัง 
                        </div>
               -->




                </div>
            </div>



            <div class="col-md-5 col-sm-6 wow  fadeInRight " data-wow-delay="0.3s">
                <div class="about-info ">
                    <div class="section-title">
                        <h2><strong class="x">K</strong>ali linux</h2>
                        <span class="line-bar">...</span>
                    </div>
                    <p>
                        Kali linux ระบบปฏิบัติการนั่นเอง ซึ่งได้รับการพัฒนามาจาก Linux Debian
                        โดยเป็นระบบปฏิบัติการแบบ Single User และออกแบบมาเพื่อ
                        digital forensice และ penetration testing
                    </p>
                    <a href="script/run_sb_kali.bat" class="btn btn-download wow  fadeInRight">
                        <i class="fa fa-play-circle pull-left"></i>
                        <strong>Let's Start</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="windows" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-6 wow  fadeInLeft " data-wow-delay="0.3s">
                <div class="about-info">
                    <div class="section-title">
                        <h2>Windows Serve<strong class="x">r</strong></h2>
                        <span class="line-bar">...</span>
                    </div>
                    <p>
                        Windows Server คือ ระบบปฏิบัติการที่ออกแบบโดย Microsoft ซึ่ง Windows Server
                        สนับสนุนการจัดการระดับองค์กร
                        การจัดเก็บข้อมูลแอพพลิเคชันและการติดต่อสื่อสาร Windows Server
                        มีความสำคัญต่อเสถียรภาพความปลอดภัยระบบเครือข่ายและการปรับปรุงระบบไฟล์ต่างๆ
                    </p>
                    <a href="script/run_sb_winserv.bat" class="btn btn-download wow  fadeInRight">
                        <i class="fa fa-play-circle pull-left"></i>
                        <strong>Let's Start</strong>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow  zoomIn " data-wow-delay="0.3s">
                <div class="about-info skill-thumb">

                    <!--<strong class="strname">Difficult</strong class="strname">
                     <span class="pull-right">40%</span>
                        <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"/></div>  ปรับพลัง 
                        </div>
               -->
                </div>
            </div>

            <div class="col-md-4 col-sm-12 wow  fadeInRight " data-wow-delay="0.3s">
                <div class="about-image">
                    <a href="script/run_sb_winserv.bat"><img src="../assets/img/windows.jpg" class="img-responsive"
                            alt=""></a>
                </div>
            </div>
</div>

        </div>
</section>

<section id="packet" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-12 wow  fadeInLeft " data-wow-delay="0.3s">
                <div class="about-image">
                    <a href="script/run_sb_pktracer.bat"><img src="../assets/img/packet.jpg" class="img-responsive"
                            alt=""></a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow  zoomIn " data-wow-delay="0.3s">
                <div class="about-info skill-thumb">

                    <!--<strong class="strname">Difficult</strong class="strname">
                     <span class="pull-right">40%</span>
                        <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"/></div>  ปรับพลัง 
                        </div>
               -->




                </div>
            </div>



            <div class="col-md-5 col-sm-6 wow  fadeInRight " data-wow-delay="0.3s">
                <div class="about-info ">
                    <div class="section-title">
                        <h2><strong class="x">P</strong>acket Tracer</h2>
                        <span class="line-bar">...</span>
                    </div>
                    <p>
                        Packet tracer เป็นโปรแกรมจำลองการทำงานของอุปกรณ์จริงในระบบ Network
                        ของบริษัท Cisco ซึ่งสามารถจำลองการทำงานของ Router,Switch,Access point
                        ,Hub,เครื่องคอมพิวเตอร์,Server
                        รวมไปถึงการเชื่อมต่อแบบต่างๆ เช่น Ethernet,Serial,Wireless เป็นต้น
                    </p>
                    <a href="script/run_sb_pktracer.bat" class="btn btn-download wow  fadeInRight">
                        <i class="fa fa-play-circle pull-left"></i>
                        <strong>Let's Start</strong>
                    </a>
                </div>
            </div>
        </div>
        </div>
</section>
<section id="cloud" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-5 col-sm-6 wow  fadeInLeft " data-wow-delay="0.3s">
                <div class="about-info">
                    <div class="section-title">
                        <h2>Cloud Openstac<strong class="x">k</strong></h2>
                        <span class="line-bar">...</span>
                    </div>
                    <p>
                        OpenStack คือ ชุดระบบซอฟต์แวร์ Open Source เป็นโครงสร้างพื้นฐานของระบบ Cloud
                        แบบ Infrastructure as a Service (IaaS)

                    </p>
                    <a href="script/run_sb_cloud.bat" class="btn btn-download wow  fadeInRight">
                        <i class="fa fa-play-circle pull-left"></i>
                        <strong>Let's Start</strong>
                    </a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow  zoomIn " data-wow-delay="0.3s">
                <div class="about-info skill-thumb">
                    <!--<strong class="strname">Difficult</strong class="strname">
                        <span class="pull-right">40%</span>
                        <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"/></div>  ปรับพลัง 
                        </div>
                         -->
                </div>
            </div>

            <div class="col-md-4 col-sm-12 wow  fadeInRight " data-wow-delay="0.3s">
                <div class="about-image">
                    <a href="script/run_sb_cloud.bat"><img src="../assets/img/open.jpg" class="img-responsive" alt=""></a>
                </div>
            </div>
        </div>
        </div>
</section>

<section id="docker" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-12 wow  fadeInLeft " data-wow-delay="0.3s">
                <div class="about-image">
                    <a href="script/run_sb_docker.bat"><img src="../assets/img/docker.jpg" class="img-responsive" alt=""></a>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 wow  zoomIn " data-wow-delay="0.3s">
                <div class="about-info skill-thumb">

                    <!--<strong class="strname">Difficult</strong class="strname">
                     <span class="pull-right">40%</span>
                        <div class="progress">
                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"/></div>  ปรับพลัง 
                        </div>
               -->



                </div>
            </div>



            <div class="col-md-5 col-sm-6 wow  fadeInRight " data-wow-delay="0.3s">
                <div class="about-info ">
                    <div class="section-title">
                        <h2><strong class="x">D</strong>ocker</h2>
                        <span class="line-bar">...</span>
                    </div>
                    <p>
                        Docker คือ engine ตัวหนึ่งที่มีการทำงานในลักษณะจำลองสภาพแวดล้อมขึ้นมาบนเครื่อง server
                        เพื่อใช้ในการ run service ที่ต้องการ มีการทำงานคล้ายคลึงกับ Virtual Machine
                        แต่ docker จะใช้ container ในการจำลองสภาพแวดล้อมขึ้นมา เพื่อใช้งานสำหรับ 1 service
                        ที่ต้องการใช้งานเท่านั้น
                        โดยไม่ต้องมีส่วนของ OS เข้าไปเกี่ยวข้องเหมือน Virtual Machines อื่นๆ
                    </p>
                    <a href="script/run_sb_docker.bat" class="btn btn-download wow  fadeInRight">
                        <i class="fa fa-play-circle pull-left"></i>
                        <strong>Let's Start</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>