<section id="windows">
    <div class="course row" style="padding:0px;background-color:#000000;opacity:0.8;color:#ffffff">
        <div class="col-sm-12" style="padding:20px;text-align: center;"><h1><strong class="x">W</strong>indows Lab</h1></div>
        <div class="col-sm-4" style="padding:0px">
            <h4 class="textsub">Basic</h4>
            <ul class="w3-ul w3-border" >
                <li>[W011] Security Parameter</li>
                <li>[W012] Network Basic</li>
                <li>[W013] Active Directory Basic</li>
                <li>[W014] Web Service Configuration (IIS)</li>
            </ul>
        </div>
        <div class="col-sm-4" style="padding:0px">
            <h4 class="textsub">Intermediate</h4>
            <ul class="w3-ul w3-border" >
                <li>[W021] Powershell Scripting</li>
                <li>[W022] OS Backup & Restore</li>
            </ul>
        </div>
        <div class="col-sm-4" style="padding:0px">
            <h4 class="textsub">Advance</h4>
            <ul class="w3-ul w3-border" >
                <li>[W031] Virtualization</li>
            </ul>
        </div>
    </div>
</section>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>