<section id="header" class="header" >
    <div class="top-bar fixed">
        <div class="container">
            <div class="navigation" id="navigation-scroll">
                <div class="row">

                    <div class="col-md-11 col-xs-10">
                        <a href="playground.html"><span id="logo"><strong class="strong">C</strong>yber<strong
                                    class="strongx">X</strong>:Lab</span></a>
                    </div>
                    <div class="col-md-1 col-xs-1">
                        <p class="nav-button">
                            <button id="sidenav" type="button" (click)="openNav()">

                                <i class="fa fa-bars" ></i>
                            </button>
                        </p>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.navigation -->
        </div>
        <!--/.container-->
    </div>
    <!--/.top-bar-->
</section>
<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
        <!--<a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Clients</a>
            <a href="#">Contact</a>-->
    <!--
        <a class="hideit" href="#header">Home</a>
        <a class="hideit" href="#video">Ubuntu</a>
        <a class="hideit" href="#ubuntu">Redhat</a>
        <a class="hideit" href="#redhat">Solaris </a>
        <a class="hideit" href="#solaris">Kali Linux </a>
        <a class="hideit" href="#kali">Windows Server</a>
        <a class="hideit" href="#windows">Packet Tracer</a>
        <a class="hideit" href="#packet">Cloud Openstak </a>
        <a class="hideit" href="#cloud">Docker </a>-->
        <a class="menuleft-btn" mat-button href="#header"><mat-icon>home</mat-icon><br>Home</a>
        <a class="menuleft-btn" mat-button href="playground.php"><mat-icon>play_arrow</mat-icon><br>Playground</a>
        <a class="menuleft-btn" mat-button href="#course"><mat-icon>book</mat-icon><br>Course</a>
        <a class="menuleft-btn" mat-button href="#flags"><mat-icon>flag</mat-icon><br>Flags</a>
        <a class="menuleft-btn" mat-button href="result.php"><mat-icon>emoji_events</mat-icon><br>Result</a>
    </div>
