<section id="network">
    <div class="course row" style="padding:0px;background-color:#000000;opacity:0.8;color:#ffffff">
        <div class="col-sm-12" style="padding:20px;text-align: center;"><h1>Networ<strong class='x'>k</strong> Lab</h1></div>
        <div class="col-sm-3" style="padding:0px">
            <h4 class="textsub">Pre-courses</h4>
            <ul class="w3-ul w3-border" >
                <li>[N011] Cisco IOS Fundamental</li>
                <li>[N012] OSI Model</li>
                <li>[N013] TCP/IP Protocol</li>
                <li>[N014] IPv4 & Subnet</li>
                <li>[N015] VLSM</li>
                <li>[N016] Routing Concept</li>
            </ul>
        </div>
        <div class="col-sm-3" style="padding:0px">
            <h4 class="textsub">Basic</h4>
            <ul class="w3-ul w3-border" >
                <li>[N021] Cisco Basic Authen</li>
                <li>[N022] Switch LAN</li>
                <li>[N023] Switch Port Security</li>
                <li>[N024] Switch VLAN</li>
                <li>[N025] Static Routing</li>
            </ul>
        </div>
        <div class="col-sm-3" style="padding:0px">
            <h4 class="textsub">Intermediate</h4>
            <ul class="w3-ul w3-border" >
                <li>[N031] Dynamic Routing (EIGRP)</li>
                <li>[N032] Dynamic Routing (OSPF)</li>
                <li>[N033] IPv6</li>
            </ul>
        </div>
        <div class="col-sm-3" style="padding:0px">
            <h4 class="textsub">Advance</h4>
            <ul class="w3-ul w3-border" >
                <li>[N041] Router ACL</li>
                <li>[N042] IPv6 Routing</li>
            </ul>
        </div>
    </div>
</section>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>