<div  id="video"  class="wrapper">
    <div  class="container" >
        <h1 style="font-family:'Good Times'" id="video" class="animation-box wow bounceIn">Cyber<strong class="strongx">X</strong> : Lab</h1>

        <div class="circle wow bounceInUp" data-wow-delay="0.3s"></div>
        <div class="circle wow bounceInUp" data-wow-delay="0.3s"></div>
        <p class="wow bounceInUp" data-wow-delay="0.3s">
            CyberX Playground คือ พื้นที่สำหรับการเรียนรู้สิ่งต่างๆที่เกี่ยวข้องกับความรู้ด้าน Cyber
            โดยจัดทำให้มีลักษณะคล้ายการเล่นเกมส์ ทำให้ผู้ที่มาใช้งานมีความสนุกกับการเรียนรู้

        </p>
    </div>
</div>
