<div class="groupmenu" style="font-size:0.7em;line-height: 1.5;background: linear-gradient(#1b1b1b, #111);">
    <div class="menuleft" style="font-size:1em;width:100%;background-color:#01BBD4;padding-top:1em;padding-bottom: 0em;">Cyber X<br>0.3</div>
    <hr>
    <div class="menuleft" style="font-size:1.2em;width:100%;padding-top:0.5em">Welcome<br><i class="fa fa-user-circle" aria-hidden="true"></i> Guest</div>
    <hr>
    <a class="menuleft-btn" mat-button href="#header"><mat-icon>home</mat-icon><br>Home</a>
    <button class="menuleft-btn" mat-button href="playground.php"><mat-icon>play_arrow</mat-icon><br>Playground</button>
    <a class="menuleft-btn" mat-button href="#course"><mat-icon>book</mat-icon><br>Course</a>
    <a class="menuleft-btn" mat-button href="#flags"><mat-icon>flag</mat-icon><br>Flags</a>
    <button class="menuleft-btn" mat-button href="result.php"><mat-icon>emoji_events</mat-icon><br>Result</button>
    
    <hr style="margin-top:10px">
    <div class="menuleft" style="font-size:1.2em;width:100%;padding-top:0.5em">Copyright</div>
</div>
