<section id="unix">
    <div class="course row" style="padding:0px;background-color:#000000;opacity:0.8;color:#ffffff">
        <div class="col-sm-12" style="padding:20px;text-align:center"><h1>Uni<strong class="x">x</strong> Lab</h1></div>
    
        <div class="col-sm-4" style="padding:0px">
            <h4 class="textsub">Basic</h4>
            <ul class="w3-ul w3-border" >
                <li><a onClick="window.open('courses/U011.pdf','[U011] File Management','resizable,height=600,width=1024'); return false;"
                        href="#">[U011] File Management</a> <span style="position:relative;float:right"><a
                            href="../unixlab/index-u011.php" target="_blank"><i class="fa fa-play-circle"
                                aria-hidden="true"></i></a></span></li>
                <li><a onClick="" href="#">[U012] User Management</a> <span
                        style="position:relative;float:right"><a href="../unixlab/index-u012.php"
                            target="_blank"><i class="fa fa-play-circle" aria-hidden="true"></i></a></span>
                </li>
                <li>[U013] Network Management</li>
                <li>[U014] Process Management</li>
                <li><a onClick="" href="#">[U015] File Security</a> <span
                        style="position:relative;float:right"><a href="../unixlab/index-u015.php"
                            target="_blank"><i class="fa fa-play-circle" aria-hidden="true"></i></a></span>
                </li>
                <li><a onClick="" href="#">[U016] User Managment</a> <span
                        style="position:relative;float:right"><a href="../unixlab/index-u016.php"
                            target="_blank"><i class="fa fa-play-circle" aria-hidden="true"></i></a></span>
                </li>
            </ul>
        </div>
        <div class="col-sm-4" style="padding:0px">
            <h4 class="textsub">Intermediate</h4>
            <ul class="w3-ul w3-border">
                <li>[U021] Shell scripting</li>
                <li>[U022] Setup service</li>
            </ul>
        </div>
        <div class="col-sm-4" style="padding:0px">
            <h4 class="textsub">Advance</h4>
            <ul class="w3-ul w3-border" >
                <li>[U031] OS Hardening</li>
                <li>[U032] Hacking I</li>
            </ul>
        </div>
    </div>
</section>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>