<section  id="header" class="header" style="margin-bottom: 90px;">
    <div class="container">
        <div class="starting">
            <div class="row">
                <div class="col-md-7">
                    <img src="../assets/img/cyberx_1red_Final.png" width="650" height="300" alt="BannerMain"
                        class="wow bounceInUp " data-wow-delay="0.2s">
                </div>
                <div class="col-md-4">
                    <div class="banner-text animation-box wow bounceIn " data-wow-delay="0.4s">
                        <h2><strong class="strong">Cyber</strong><strong class="strongx">X</strong>
                            : Lab</h2>
                        <p> 
                            experience<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;expertise <br>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;excellence
                        </p>
                        <a  mdbPageScroll href="#video" class="btn btn-download wow  fadeInRight">
                            <i class="fa fa-play-circle pull-left"></i>
                            <strong>Let's Start</strong>
                            <br>learn more</a>
                    </div> <!-- /.banner-text -->
                </div>
            </div>
        </div>
        <!-- /.starting -->
    </div>

</section>

